{% extends "base.html" %}

{% block content %}
<div class="post">
    <h4>{{ post.title }} {{ post.likes }}</h4>
    <p>{{ post.date }}</p>
    <img src="{{ post.image.url}}" style="width:200px;heigth:200px"> </img>
    <div class="content">
        {{ post.article }}
    </div>
    <!--<div class="likes_button">-->
        <!--<a href="{% url 'increase_likes' post.pk %}">like</a>-->
    <!--</div>-->
    <form method="POST" action ="{% url 'increase_likes' post.pk %}">
        {% csrf_token %}
        <button type="submit">Like</button>
    </form>
    {% if post.likes > 0 %}
        <form method="POST" action ="{% url 'decrease_likes' post.pk %}">
            {% csrf_token %}
            <button type="submit">Dislike</button>
        </form>

    {% endif %}
    <form method="POST" action ="{% url 'send_comment' post.pk %}">
            {% csrf_token %}
            {{ comments_form.as_p }}
            <button type="submit">Send</button>
    </form>

    {% for comment in post.comments.all %}
        {% if comment.publish %}
            <div>
                {{comment.author}}<br>
                {{comment.text}}<br>
                {{comment.date}}
            </div>
        {% endif %}
    {% endfor %}



</div>

{% endblock %}